@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@media screen 
  and (device-width: 360px) 
 {
	body {
		width: 100%;
	}

	/* div {
		width: 360px;
	} */


	.flex-container {
		display: flex;
		flex-direction: column;
	}
}

@media screen 
  and (device-width: 412px) 
 {
  body {
	width: 90%;
}

/* div {
	width: 360px;
} */


.flex-container {
	display: flex;
	flex-direction: column;
}
}

@media screen 
  and (device-width: 280px) 
 {
	body {
		width: 135%;
	}

	/* div {
		width: 360px;
	} */


	.flex-container {
		display: flex;
		flex-direction: column;
	}
}

@media screen 
  and (device-width: 384px) 
 {
	body {
		width: 95%;
	}

	/* div {
		width: 360px;
	} */

	.flex-container {
		display: flex;
		flex-direction: column;
	}
}

/* * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
} */

.wrapgrid {
	overflow-x: hidden;
}

h1 {
	margin-left: 10px;
	font-family: 'Open Sans';
}

.heylisten {
	margin-left: 10px;
	font-family: 'Open Sans';
}

/* body {
	font-family: 'Open Sans';
} */

figure {
	height: 270px;
	width: 270px;
	flex: 0 0 auto;
	font-family: 'Open Sans';
	/* position: fixed; */
	/* top: 170px; */
}

.after {
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

.filler {
	height: 50px;
	width: 500px;
	/* flex: 0 0 auto; */
}

.current {
	/* color: white; */
	/* float: right;
	max-width: 800px;
	margin-right: 100px; */
}

.flex-container {
	display: flex;
}

.outline {
	stroke: white;
	stroke-width: 1;
}

.second {
	stroke: white;
	stroke-width: 2;
}

.hour {
	stroke: white;
	stroke-width: 4;
}

.second-hand {
	stroke: white;
	stroke-width: 3;
}

.minute-hand {
	stroke: white;
	stroke-width: 8;
	stroke-linecap: round;
}

.hour-hand {
	stroke: white;
	stroke-width: 12;
	stroke-linecap: butt;
}